.banner__img{
    /* background-image: url('../../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat; */

    /* um atalho no background */
    background: url('../../img/banner.jpg') no-repeat center / cover;
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__img{
        height:calc(100vh - 72px);
    }
}

@media screen and (min-width: 768px) {
    .banner__img{
        height:calc(100vh - 51px);
    }
}

